html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
p {
  margin: 0;
}
.row {
  display: flex;
}
.animacii {
  display: flex;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

header {
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  padding: 1.5em 0;
  background: #1c7c7c;
}

.logo {
  align-items: center;
}
.logo img {
  max-width: 200px;
}
.logo h1 {
  font-weight: 700;
  font-size: 35px;
}
.navigation {
  position: relative;
}
nav ul {
  gap: 2.5em;
  align-items: center;
}
nav a {
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  color: #444444;
  padding: 10px 0px;
}
nav ul li a::after {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  margin: 0 auto;
  background-color: #ebebeb;
  background-color: #fdc735;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
nav > ul li:nth-of-type(6) a::after,
nav > ul li:nth-of-type(3) a::after,
nav > ul li:nth-of-type(5) a::after {
  all: unset;
}
nav ul li {
  /* transform-style: preserve-3d; */
  transition: transform 0.5s;
}
nav ul li a:hover {
  transform: skewY(3deg);
}
nav a:hover::after {
  width: 50px;
}

.navigation > ul .active a {
  padding: 0.5em;
  background: linear-gradient(
    90deg,
    #fdc735 -28.35%,
    rgba(63, 0, 156, 0) 153.96%
  );

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.navigation > ul .active a:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.drop-down {
  display: none;
  position: absolute;
  top: 90%;
  z-index: 999;
  background-color: #f3f5fa;
  background: linear-gradient(
    90deg,
    #fdc735 -28.35%,
    rgba(63, 0, 156, 0) 153.96%
  );
  border-radius: 10px;
}
.drop {
  z-index: 9999;
  background-color: #f3f5fa;
  background: linear-gradient(90deg, #fdc735, rgba(255, 255, 255));
  border-radius: 10px;
}
.drop-down.d1 {
  width: 16vw;
}
.drop-down.d2 {
  width: 22vw;
}
.drop-down.d3 {
  width: 15vw;
}

.drop-down {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
}
.navigation ul li .drop-down ul li a {
  padding: 10px;
}
.navigation > ul > li:hover .drop-down {
  display: block;
}
/* .navigation > ul > li .drop-down.d2 {
  display: block;
} */
.navigation > ul > li .drop-down.d2 .drop {
  display: none;
  z-index: 9999;
}
.navigation > ul > li .drop-down.d2 li:hover .drop {
  display: block;
}
.navigation > ul > li .drop-down.d2 li:hover i {
  transform: rotate(90deg);
}
.drop {
  display: none;
  width: 17vw;
  position: absolute;

  font-size: 10px;
}
.inner-drop-down-1 {
  top: 56%;
  left: 63%;
}
.inner-drop-down-2 {
  top: 90%;
  left: 63%;
}

.fa-solid {
  float: right;
  margin-bottom: 5px;
}
.drop-down ul::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 16%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fdc735 transparent;
}
.drop ul::before {
  all: unset;
}
nav ul li .drop-down a::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  margin: 0 auto;
  background-color: #1c7c7c;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.main {
  min-height: 400vh;
  background-color: #1c7c7c;
}
.drop-down ul li a {
  width: 100%;
}
.drop-down ul li a:hover::after {
  width: 100%;
}
.drop-down ul li a:hover {
  color: #1c7c7c;
  letter-spacing: 1px;
}
